* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #7efff5;
}
body,
h1 {
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
  font-style: italic;
  text-shadow: 2px 2px greenyellow;
  margin-top: 50px;
  margin-bottom: 5px;
  border-style: dotted 5px black;
}
body,
div {
  border-style: bold 5px rgb(42, 34, 20);
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7efff5;
}
#head {
  text-align: center;
  margin-top: 0px;
}
.box {
  width: 600px;
  min-height: 500px;
  background-color: white;
  border-radius: 50px;
  border-top-left-radius: 50px;
  padding: 40px;
  margin-top: 10px;
}
#item {
  padding: 5px;
  width: 100%;
  font-size: 20px;
  border: 0;
  outline: 0;
  box-shadow: 0px 0px 1px gray;
  font-weight: bolder;
  display: block;
}
#to_D0_Box {
  margin: 25px;
  list-style: none;
}
#to_D0_Box li {
  position: relative;
  background-color: rgb(237, 146, 146);
  color: rgb(82, 80, 80);
  padding: 10px;
  padding-right: 30px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  user-select: none;
}
#to_D0_Box li i {
  position: absolute;
  right: 20px;
  top: 10px;
}
.done {
  text-decoration: line-through rgb(243, 73, 73);
  color: black;
  background-color: rgb(223, 196, 248) !important;
}
